<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publicKey</key>
	<string>b02ea5b6244b22a5118c058d36b3ae8a</string>
	<key>privateKey</key>
	<string>9e5fe40634a71c3fa6cd9df758d5dd688f7465a6</string>
</dict>
</plist>
